<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMonitorAccess" />
                <binding name="BasicHttpBinding_IMonitorAccess1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/AmphiSys.Monitor.WCFService/MonitorAccess"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonitorAccess"
                contract="ServiceReference1.IMonitorAccess" name="BasicHttpBinding_IMonitorAccess" />
            <endpoint address="http://localhost:8733/AmphiSys.Monitor.WCFService/MonitorAccess"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonitorAccess1"
                contract="ServiceReference1.IMonitorAccess" name="BasicHttpBinding_IMonitorAccess1" />
        </client>
    </system.serviceModel>
</configuration>