<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMonitorAccess" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/AmphiSys.Monitor.WCFService/MonitorAccess/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonitorAccess"
                contract="IMonitorAccess" name="BasicHttpBinding_IMonitorAccess" />
        </client>
    </system.serviceModel>
</configuration>