<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAmphiMonitorAccess" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/AmphiSys.AmphiMonitor.WCFService/AmphiMonitorAccess/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAmphiMonitorAccess"
                contract="IAmphiMonitorAccess" name="BasicHttpBinding_IAmphiMonitorAccess" />
        </client>
    </system.serviceModel>
</configuration>